@font-face {
    font-family: heroes;
    src: url('../../../images/Perfect DOS VGA 437.ttf');
}

* {
    font-family: heroes;
    font-size: 100%;
    margin: 0;
    box-sizing: border-box;
    color: whitesmoke;
    /* text-shadow: 2px 2px #000000; */
    /* letter-spacing: 2px; */
}

.bg {
    position: absolute;
    width: 1920px;
    height: 1080px;
    background: url('../../../images/Espera.png')
}

.next-game {
    text-align: center;
    width: 678px;
    height: 61px;
    position: absolute;
    left: 1058px;
    top: 869px;
    font-size: 2.3rem;
    /* font-size: 47px; */
}

.next-game-list-container {
    width: 1454px;
    height: 35px;
    position: absolute;
    left: 362px;
    top: 1039px;
    display: flex;
}

.next-game-list {
    width: 288px;
    height: 21px;
    margin-top: 6px;
    padding-left: 54px;
    font-size: 18px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.next-game-list:first-child {
    width: 283px;
    height: 21px;
    padding-left: 50px;
}