@font-face {
    font-family: heroes;
    src: url('../../../images/Perfect DOS VGA 437.ttf');
}

* {
    font-family: heroes;
    font-size: 100%;
    margin: 0;
    box-sizing: border-box;
    color: whitesmoke;
    /* letter-spacing: 2px; */
    text-shadow: 2px 2px #000000;
}

.bg {
    position: absolute;
    width: 1920px;
    height: 1080px;
    background: url('../../../images/Carrera_coso.png')
}

.info-container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    /* left: 104px; */
    /* top: 1039px; */
    /* display: flex; */
}

.info {
    position: relative;
    /* margin-top: 6px; */
    /* width: 250px; */
    /* height: 21px; */
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 19px;
}

.runner-name-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.runner-name-container i {
    font-size: 25px;
    margin-right: 10px;
}

.runner-container1 {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 663px;
    left: 3px;
    width: 532px;
    height: 76px;
}

.runner1 {
    font-size: 3rem;
    text-align: center;
}

.runner-container2 {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 663px;
    left: 1378px;
    width: 532px;
    height: 76px;
}

.runner2 {
    font-size: 3rem;
    text-align: center;
}

.game-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 785px;
    left: 357px;
    width: 1206px;
    height: 130px;
    padding: 0px 0 0;
}

.game {
    font-size: 3rem;
    text-align: center;
}

.category-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 914px;
    left: 357px;
    width: 633px;
    height: 56px;
}

.category {
    font-size: 1.5rem;
    text-align: center;
}

.category-icon {
    width: 35px;
    height: 35px;
    color: red;
    right: 205px;
    background: url('../../../images/list.png');
    background-size: contain;
    margin-right: 10px;
}

.platform-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    top: 1046px;
    left: 1623px;
    width: 290px;
    height: 27px;
    padding-right: 5px;
}

.platform {
    font-size: 1.5rem;
    text-align: center;
}

.estimate-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 922px;
    left: 992px;
    width: 571px;
    height: 40px;
}

.estimate {
    font-size: 2rem;
    text-align: center;
}

.timer-icon {
    width: 50px;
    height: 50px;
    color: red;
    /* width: 512px;
    height: 512px; */
    /* position: absolute; */
    right: 205px;
    background: url('../../../images/reloj.png');
    background-size: contain;
    margin-right: 10px;
}

.coms-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    top: 1007px;
    left: 689px;
    width: 550px;
    height: 40px;
}

.coms {
    font-size: 2rem;
    text-align: center;
}

.com-icon {
    width: 73px;
    height: 73px;
    max-height: 73px;
    color: red;
    right: 205px;
    background: url('../../../images/mic.png');
    /* background-size: contain; */
    background-size: cover;
    margin-right: 10px;
}